body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h2, h3 {
    color: #333;
}

#itemsList label {
    margin-bottom: 10px;
    display: block;
}

button {
    margin-top: 20px;
}
